body {
	margin-left: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/*.header img {
border-style: solid;
border-width: 0px;
border-color: #999;
display: inline-block;
}*/
.point {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF6600;
	margin-top: 15px;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF6600;
	padding-bottom: 5px;
	margin-top: 10px;
}
.annotation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
}
.highlight {
	color: #003366;
	font-weight: bold;
	font-style: italic;
}
.image{
	border-style: solid;
	border-width: 1px;
	border-color: #999;
}
